<% if (locals.errors) { %>
    <div class="errors-cont">
        <div class="error-list">
            <h2>Error</h2>
            <ul>
                <% errors.forEach((error) => { %>
                    <% if (error.parseHtml === true) { %>
                        <li><%- error.msg %></li>
                    <% } else { %>
                        <li><%= error.msg %></li>
                    <% } %>
                <% }) %>
            </ul>
        </div>
    </div>
<% } %>