<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/root.css">
    <title>Not Found!</title>
</head>
<body>
    <div class="not-found-notice">
        <h1>404</h1>
        <h2>Page not found!</h2>
        <p>
            Return
            <a href="/">HOME</a>
        </p>
    </div>
</body>
</html>