<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/root.css">
    <title>Create a Message</title>
</head>
<body>

    <h1 class="form-heading">New Message</h1>

    <%- include("partials/errors.ejs", { errors: locals.errors }) %>

    <% if (locals.member === true) { %>
        <form action="/create-message" method="POST" class="create-message-form">
            <div class="form-row">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" value="<%= locals.title !== undefined ? locals.title : '' %>">
            </div>

            <div class="form-row">
                <label for="body">Post Body</label>
                <textarea name="body" id="body" cols="1"><%= locals.body !== undefined ? locals.body : '' %></textarea>
            </div>

            <button type="submit">Post</button>
        </form>
    <% } else { %>
        <%- include("partials/errors.ejs", { errors: [
            { msg: 'Only members can post messages!'},
            { parseHtml: true, msg: `<p class="key-notice"><a href='/member-auth'>Become a member</a></p>` }
            ] }) %>
    <% } %>

    <div class="footer-buttons-cont">
        <a href="/" class="home-button">
            <img src="/media/house.svg" alt="go back to the homepage">
        </a>
    </div>
</body>
</html>