<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/root.css">
    <title>Logout</title>
</head>
<body>

    <h1 class="form-heading">Logout</h1>

    

    <% if (locals.authenticated === true) { %>
        <form action="/logout" method="POST" class="logout-form">
            <p class="logout-notice">You will logout and return to the homepage</p>

            <button type="submit">Logout</button>
        </form>
    <% } else { %>
        <%- include("partials/errors.ejs", { errors: [{ msg: 'Cannot logout as you are not signed in!'}] }) %>
    <% } %>

    <div class="footer-buttons-cont">
        <a href="/" class="home-button">
            <img src="/media/house.svg" alt="go back to the homepage">
        </a>
    </div>
</body>
</html>