@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf);
    font-style: italic;
}

/* ----------------------- General Styles ----------------------- */

:root {
    --fs-sm: clamp(0.8rem, 0.15vi + 0.77rem, 0.89rem);
    --fs-base: clamp(1rem, 0.31vi + 0.94rem, 1.19rem);
    --fs-md: clamp(1.25rem, 0.55vi + 1.14rem, 1.58rem);
    --fs-lg: clamp(1.56rem, 0.91vi + 1.38rem, 2.11rem);
    --fs-xl: clamp(1.95rem, 1.43vi + 1.67rem, 2.81rem);
    --fs-xxl: clamp(2.44rem, 2.18vi + 2.01rem, 3.75rem);
    --fs-xxxl: clamp(3.05rem, 3.24vi + 2.4rem, 5rem);

    --background-color: #101828;
    --primary-color: #1e2939;
    --text-color: #f7faff;

    --input-border: #6a7282;
    --input-background: rgba(54, 64, 83, 0.5);
    --input-focus-border: #1068c7;

    color-scheme: dark;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);

    font-family: Montserrat, system-ui, 'Trebuchet MS', 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';

    min-height: 100svh;

    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.user-banner-cont {
    align-self: baseline;

    font-style: italic;
    font-weight: 500;
    font-size: var(--fs-base);

    max-width: 220px;
}

.user-banner-cont > p {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

a {
    color: #3ee4c2;
}

a:hover {
    color: #5af2d5;
}

.no-messages-notice,
.not-found-notice {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.no-messages-notice > img {
    width: 3rem;
    height: 3rem;

    margin-bottom: 0.75rem;
}

.no-messages-notice > h1 {
    font-size: var(--fs-xl);
    margin-bottom: 1rem;
}

.not-found-notice > h1 {
    font-size: var(--fs-xxxl);
    margin-bottom: 0.5rem;
}

.not-found-notice > h2 {
    font-size: var(--fs-lg);
    margin-bottom: 0.5rem;
}

.no-messages-notice a,
.not-found-notice a {
    font-style: italic;
}

.footer-buttons-cont {
    margin-top: auto;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1.5rem;
}

.all-messages-cont {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.message-cont {
    max-width: 280px;

    background-color: var(--primary-color);
    padding: 0.5rem;
    border-radius: 0.35rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.delete-message-link {
    /* margin-top: auto; */
    height: 2rem;
    border: none;
    border-radius: 0.25rem;

    background-color: var(--input-focus-border);

    text-decoration: none;
    color: var(--text-color);

    display: grid;
    place-items: center;

    transition: 0.2s ease-in-out;
}

.delete-message-link:hover {
    color: var(--text-color);
    filter: brightness(1.05);
}

.message-cont > h2 {
    font-size: var(--fs-md);
}

.message-cont > h3 {
    font-size: var(--fs-md);
}

.message-cont > p:not(.message-time) {
    font-size: var(--fs-base);
}

.message-cont > .message-time {
    margin-top: auto;
    margin-bottom: 0.25rem;
    font-size: var(--fs-sm);
    font-style: italic;
}

.footer-buttons-cont > a {
    display: grid;
    place-items: center;

    width: 2.5rem;
    height: 2.5rem;
    margin-top: auto;
    margin-bottom: 0.5rem;

    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    border: none;

    background-color: var(--primary-color);

    cursor: pointer;

    transition: 0.2s ease-in-out;
}

.footer-buttons-cont > a:hover {
    transform: translateY(-0.15rem);
}

@media (min-width: 40rem) {
    .user-banner-cont {
        max-width: 300px;
    }

    .message-cont {
        max-width: 420px;
    }
}

@media (min-width: 48rem) {
    .user-banner-cont {
        max-width: 340px;
    }

    .all-messages-cont {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;
    }

    .message-cont {
        max-width: 340px;
    }
}

@media (min-width: 80rem) {
    .all-messages-cont {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-flow: row;
    }
}

@media (min-width: 96rem) {
    .all-messages-cont {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-flow: row;
    }
}

/* ----------------------- General Styles ----------------------- */

/* ----------------------- Form-Related Styles ----------------------- */

.form-heading {
    margin-top: 2rem;
    font-size: var(--fs-xl);
}

form {
    min-width: 260px;

    background-color: var(--primary-color);
    margin-top: 0.5rem;
    padding: 0.75rem;

    border-radius: 0.35rem;

    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    margin-bottom: 1rem;
}

input {
    height: 2rem;

    background-color: var(--input-background);
    border: 1.5px solid var(--input-border);
    border-radius: 0.25rem;

    transition: 0.2s ease-in-out;
}

textarea {
    min-height: 4rem;

    /* Solution for browsers where "resize" isn't supported */
    min-width: 100%;
    max-width: calc(260px - (0.75rem * 2));

    background-color: var(--input-background);
    border: 1.5px solid var(--input-border);
    border-radius: 0.25rem;

    resize: vertical;
}

input:focus,
textarea:focus {
    outline: none;
    border: 1.5px solid var(--input-focus-border);
}

form > p {
    font-style: italic;
    font-size: var(--fs-sm);
}

form > button {
    cursor: pointer;

    height: 2rem;
    border: none;
    border-radius: 0.25rem;

    margin-top: 0.5rem;

    background-color: var(--input-focus-border);
}

.delete-message-form > p {
    text-align: center;
}

.errors-cont {
    min-width: 260px;
    max-width: 260px;

    padding: 0.5rem;

    display: flex;
    align-items: center;
    gap: 1rem;

    border-radius: 0.35rem;

    background-color: var(--primary-color);

    border-left: 8px solid #942626;
}

.error-list {
    flex-grow: 1;
}

.error-list > h2 {
    font-size: var(--fs-base);
    font-weight: 400;

    margin-bottom: 0.5rem;
}

.error-list > ul {
    list-style-type: none;
    padding: 0;
    font-size: var(--fs-sm);
}

.error-list li:not(:last-child) {
    margin-bottom: 0.5rem;
}

.logout-notice {
    text-align: center;
    margin-bottom: 0.5rem;
}

.key-notice {
    font-style: italic;
}

@media (min-width: 40rem) {
    form {
        padding: 1rem;
        min-width: 340px;
    }

    .form-row {
        margin-bottom: 1.25rem;
    }

    .errors-cont {
        min-width: 340px;
        max-width: 340px;
    }
}

/* ----------------------- Form-Related Styles ----------------------- */
